Repository inspira-legal/lex-flow: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-opcode-docs, generate-grammar-docs

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.6
    hooks:
      - id: ruff-format
        name: ruff format
      - id: ruff
        name: ruff lint
        args: [--fix, --exit-non-zero-on-fix]

  - repo: local
    hooks:
      - id: generate-opcode-docs
        name: generate opcode docs
        entry: uv run lexflow docs generate
        language: system
        pass_filenames: false
        files: ^lexflow-core/src/lexflow/(opcodes.*\.py|grammar\.json)$

      - id: generate-grammar-docs
        name: generate grammar docs
        entry: uv run lexflow docs generate --grammar
        language: system
        pass_filenames: false
        files: ^lexflow-core/src/lexflow/grammar\.json$

docs: create docs about slack opcodes connection
  docs/OPCODE_REFERENCE.md
Due: none

feat(opcode): create opcodes intercom
  docs/OPCODE_REFERENCE.md
  examples/integrations/intercom/test_connection.yaml
  lexflow-core/src/lexflow/opcodes/__init__.py
  lexflow-core/src/lexflow/opcodes/opcodes_intercom.py
Due: generate-opcode-docs

feat(vault): add ingest and ask book workflows
  examples/showcase/vault/ask_book.yaml
  examples/showcase/vault/ingest_book.yaml
Due: none

Adds highlight and answer
  examples/showcase/vault/ask_book.yaml
Due: none

docs: add code review guide and Gemini styleguide for automated PR reviews
  .gemini/styleguide.md
  CODE_REVIEW_GUIDE.md
Due: none

fix(docs): resolve undefined rule ID prefixes in code review guide
  CODE_REVIEW_GUIDE.md
Due: none

fix(docs): correct exception type and private attribute in code review guide examples
  CODE_REVIEW_GUIDE.md
Due: none

fix(docs): remove fictional references and soften overstated rules in code review guide
  CODE_REVIEW_GUIDE.md
Due: none

fix(docs): fix link text, commit types, and hardcoded line ref in code review guide
  CODE_REVIEW_GUIDE.md
Due: none

fix(docs): fix inconsistent abbreviation, fictional exception, and inaccurate pattern ref in code review guide
  CODE_REVIEW_GUIDE.md
Due: none

fix(docs): add hardcoded secrets warning to security section in code review guide
  CODE_REVIEW_GUIDE.md
Due: none

docs: add code review guide and styleguide for automated PR reviews (#23)
  .gemini/styleguide.md
  CODE_REVIEW_GUIDE.md
Due: none

feat(core): add web search opcodes via Tavily API
  .env.example
  examples/multi_agent/coordinator_researcher.yaml
  examples/web_search/agent_research.yaml
  examples/web_search/basic_search.yaml
  examples/web_search/news_search.yaml
  lexflow-core/pyproject.toml
  lexflow-core/src/lexflow/opcodes/__init__.py
  lexflow-core/src/lexflow/opcodes/opcodes_web_search.py
  tests/unit/test_web_search_opcodes.py
Due: generate-opcode-docs

fix(core): address code review findings for web search opcodes
  docs/OPCODE_REFERENCE.md
  examples/multi_agent/coordinator_researcher.yaml
  lexflow-cli/src/lexflow_cli/docs.py
  lexflow-core/src/lexflow/opcodes/opcodes_web_search.py
  pyproject.toml
  tests/unit/test_web_search_opcodes.py
  uv.lock
Due: generate-opcode-docs

fix(core): preserve generic type parameters in docs generation
  docs/OPCODE_REFERENCE.md
  lexflow-cli/src/lexflow_cli/docs.py
  lexflow-core/src/lexflow/opcodes/opcodes.py
Due: generate-opcode-docs

fix(core): address PR #25 review findings
  docs/OPCODE_REFERENCE.md
  lexflow-cli/src/lexflow_cli/docs.py
  lexflow-core/src/lexflow/opcodes/opcodes.py
  tests/unit/test_opcodes.py
Due: generate-opcode-docs

feat(core): add schedule opcodes for time-based workflow control
  examples/scheduling/daily_schedule.yaml
  examples/scheduling/delayed_action.yaml
  examples/scheduling/interval_timer.yaml
  lexflow-core/src/lexflow/opcodes/__init__.py
  lexflow-core/src/lexflow/opcodes/opcodes_schedule.py
  pyproject.toml
  tests/unit/test_schedule_opcodes.py
  uv.lock
Due: generate-opcode-docs

fix(core): address PR review feedback on schedule opcodes
  lexflow-core/src/lexflow/opcodes/__init__.py
  lexflow-core/src/lexflow/opcodes/opcodes_schedule.py
  tests/unit/test_schedule_opcodes.py
Due: generate-opcode-docs

feat(ai): add ai_agent_with_tools opcode for agentic workflows
  examples/integrations/pydantic_ai/agent_with_tools.yaml
  lexflow-core/src/lexflow/grammar.json
  lexflow-core/src/lexflow/opcodes/opcodes_pydantic_ai.py
  tests/unit/test_pydantic_ai_opcodes.py
Due: generate-opcode-docs, generate-grammar-docs

feat(ai): allow workflows as tools in ai_agent_with_tools
  examples/integrations/pydantic_ai/workflow_as_tools.yaml
  lexflow-core/src/lexflow/ast.py
  lexflow-core/src/lexflow/engine.py
  lexflow-core/src/lexflow/opcodes/opcodes_pydantic_ai.py
  lexflow-core/src/lexflow/parser.py
  tests/unit/test_pydantic_ai_opcodes.py
Due: generate-opcode-docs

fix(examples): fix typo and add debug prints to workflow_as_tools
  examples/integrations/pydantic_ai/workflow_as_tools.yaml
Due: none

fix(ai): address PR #8 review — remove ContextVar, fix private attrs, add tests
  lexflow-core/pyproject.toml
  lexflow-core/src/lexflow/opcodes/opcodes.py
  lexflow-core/src/lexflow/opcodes/opcodes_pydantic_ai.py
  tests/unit/test_privileged_opcodes.py
  tests/unit/test_pydantic_ai_opcodes.py
Due: generate-opcode-docs

feat(core): add privileged opcode injection system (#9)
  lexflow-core/src/lexflow/engine.py
  lexflow-core/src/lexflow/opcodes/opcodes.py
  lexflow-core/src/lexflow/opcodes/opcodes_pydantic_ai.py
  tests/integration/test_introspect_context.py
  tests/unit/test_privileged_opcodes.py
  tests/unit/test_pydantic_ai_opcodes.py
Due: generate-opcode-docs

fix(ai): address code review findings — imports, types, tests, style
  lexflow-core/src/lexflow/engine.py
  lexflow-core/src/lexflow/opcodes/opcodes.py
  lexflow-core/src/lexflow/opcodes/opcodes_pydantic_ai.py
  tests/unit/test_pydantic_ai_opcodes.py
Due: generate-opcode-docs

feat(ai): add ai_agent_with_tools opcode for agentic workflows (#8)
  examples/integrations/pydantic_ai/agent_with_tools.yaml
  examples/integrations/pydantic_ai/workflow_as_tools.yaml
  lexflow-core/pyproject.toml
  lexflow-core/src/lexflow/ast.py
  lexflow-core/src/lexflow/engine.py
  lexflow-core/src/lexflow/grammar.json
  lexflow-core/src/lexflow/opcodes/opcodes.py
  lexflow-core/src/lexflow/opcodes/opcodes_pydantic_ai.py
  lexflow-core/src/lexflow/parser.py
  tests/integration/test_introspect_context.py
  tests/unit/test_privileged_opcodes.py
  tests/unit/test_pydantic_ai_opcodes.py
Due: generate-opcode-docs, generate-grammar-docs

chore(core): release 1.6.0
  lexflow-core/CHANGELOG.md
  lexflow-core/pyproject.toml
Due: none

chore: add CODEOWNERS file
  .github/CODEOWNERS
Due: none

feat(core): add utility opcodes, RAG enhancements, and vault workflows
  docs/OPCODE_REFERENCE.md
  examples/showcase/vault/ask_book.yaml
  examples/showcase/vault/ingest_book.yaml
  examples/showcase/vault/ingest_book_consumer.yaml
  examples/showcase/vault/publish_book.yaml
  examples/showcase/vault/setup_emulator.sh
  lexflow-core/pyproject.toml
  lexflow-core/src/lexflow/opcodes/__init__.py
  lexflow-core/src/lexflow/opcodes/opcodes.py
  lexflow-core/src/lexflow/opcodes/opcodes_rag.py
  lexflow-core/src/lexflow/opcodes/opcodes_util.py
  pyproject.toml
  uv.lock
Due: generate-opcode-docs

feat(web): add n8n-style AddNodeMenu for visual workflow editing
  lexflow-web/frontend/src/components/canvas/AddNodeMenu/AddNodeMenu.tsx
  lexflow-web/frontend/src/components/canvas/AddNodeMenu/README.md
  lexflow-web/frontend/src/components/canvas/AddNodeMenu/index.ts
  lexflow-web/frontend/src/components/canvas/AddNodeMenu/styles.ts
  lexflow-web/frontend/src/components/canvas/AddNodeMenu/types.ts
  lexflow-web/frontend/src/components/canvas/Canvas/Canvas.tsx
  lexflow-web/frontend/src/components/canvas/WorkflowNode/WorkflowNode.tsx
  lexflow-web/frontend/src/components/canvas/WorkflowNode/styles.ts
  lexflow-web/frontend/src/components/canvas/index.ts
  lexflow-web/frontend/src/services/workflow/WorkflowService.ts
  lexflow-web/frontend/src/services/workflow/__tests__/WorkflowService.test.ts
  lexflow-web/frontend/src/store/uiStore.ts
  lexflow-web/frontend/src/store/workflowStore.ts
Due: none

fix(web): fix connection bezier path and hover flicker on add button
  lexflow-web/frontend/src/components/canvas/Connection/Connection.tsx
  lexflow-web/frontend/src/components/canvas/Connection/styles.ts
  lexflow-web/frontend/src/components/canvas/WorkflowNode/WorkflowNode.tsx
Due: none

chore(web): build frontend library [skip ci]
  lexflow-web/src/lexflow_web/static/assets/LiteEditor-CC_5HQ1k.js
  lexflow-web/src/lexflow_web/static/assets/index-B6fsTf_v.js
  lexflow-web/src/lexflow_web/static/assets/index-BgM6Shwk.css
  lexflow-web/src/lexflow_web/static/index.html
Due: none

fix(web): address PR review comments for AddNodeMenu feature
  lexflow-web/frontend/src/components/canvas/AddNodeMenu/AddNodeMenu.tsx
  lexflow-web/frontend/src/components/canvas/Canvas/Canvas.tsx
  lexflow-web/frontend/src/components/canvas/WorkflowNode/WorkflowNode.tsx
  lexflow-web/frontend/src/services/workflow/WorkflowService.ts
  lexflow-web/frontend/src/store/workflowStore.ts
Due: none

chore: remove unnecessary README from AddNodeMenu
  lexflow-web/frontend/src/components/canvas/AddNodeMenu/README.md
Due: none

chore(web): add missing frontend build assets
  lexflow-web/src/lexflow_web/static/assets/LiteEditor-CC_5HQ1k.js
  lexflow-web/src/lexflow_web/static/assets/LiteEditor-Dnz8f8Uv.js
  lexflow-web/src/lexflow_web/static/assets/index-B6fsTf_v.js
  lexflow-web/src/lexflow_web/static/assets/index-q6uvIQYJ.js
  lexflow-web/src/lexflow_web/static/index.html
Due: none

fix(web): increase add-node button click target area
  lexflow-web/frontend/src/components/canvas/WorkflowNode/WorkflowNode.tsx
Due: none

chore(web): rebuild frontend assets [skip ci]
  lexflow-web/src/lexflow_web/static/assets/LiteEditor-h1ElbRVj.js
  lexflow-web/src/lexflow_web/static/assets/LiteEditor-j7XGOS58.js
  lexflow-web/src/lexflow_web/static/assets/index-BBwSHu0K.css
  lexflow-web/src/lexflow_web/static/assets/index-BgM6Shwk.css
  lexflow-web/src/lexflow_web/static/assets/index-Btt_m2Lv.js
  lexflow-web/src/lexflow_web/static/assets/index-C-dSAeW9.js
  lexflow-web/src/lexflow_web/static/assets/index-DPaAcr1s.css
  lexflow-web/src/lexflow_web/static/assets/index-q6uvIQYJ.js
  lexflow-web/src/lexflow_web/static/index.html
Due: none

feat(sheets): add Google Sheets operations and update dependencies
  docs/OPCODE_REFERENCE.md
  lexflow-core/pyproject.toml
  lexflow-core/src/lexflow/opcodes/__init__.py
  lexflow-core/src/lexflow/opcodes/opcodes_sheets.py
  lexflow-web/uv.lock
Due: generate-opcode-docs

feat(sheets): add examples for appending and reading data from Google Sheets
  examples/integrations/google_sheets/append_row.yaml
  examples/integrations/google_sheets/read_data.yaml
  examples/integrations/google_sheets/sheet_operations.yaml
Due: none

feat(pr-template): add pull request template for consistent PR submissions
  .claude/commands/pr.md
  .github/pull_request_template.md
Due: none

fix(sheets): address PR review feedback for async and parameter naming
  docs/OPCODE_REFERENCE.md
  examples/integrations/google_sheets/append_row.yaml
  examples/integrations/google_sheets/read_data.yaml
  lexflow-core/src/lexflow/opcodes/opcodes_sheets.py
Due: generate-opcode-docs
