Repository inspira-legal/lex-flow: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-opcode-docs, generate-grammar-docs

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.6
    hooks:
      - id: ruff-format
        name: ruff format
      - id: ruff
        name: ruff lint
        args: [--fix, --exit-non-zero-on-fix]

  - repo: local
    hooks:
      - id: generate-opcode-docs
        name: generate opcode docs
        entry: uv run lexflow docs generate
        language: system
        pass_filenames: false
        files: ^lexflow-core/src/lexflow/(opcodes.*\.py|grammar\.json)$

      - id: generate-grammar-docs
        name: generate grammar docs
        entry: uv run lexflow docs generate --grammar
        language: system
        pass_filenames: false
        files: ^lexflow-core/src/lexflow/grammar\.json$

docs: Updating claude.md
  CLAUDE.md
  lexflow-core/CLAUDE.md
Due: none

chore(core): release 1.2.0
  lexflow-core/CHANGELOG.md
  lexflow-core/pyproject.toml
Due: none

feat(core): add self-describing opcode category system
  docs/GRAMMAR_REFERENCE.md
  docs/OPCODE_REFERENCE.md
  lexflow-core/src/lexflow/grammar.json
  lexflow-core/src/lexflow/opcodes/__init__.py
  lexflow-core/src/lexflow/opcodes/opcodes.py
  lexflow-core/src/lexflow/opcodes/opcodes_chat.py
  lexflow-core/src/lexflow/opcodes/opcodes_cli.py
  lexflow-core/src/lexflow/opcodes/opcodes_github.py
  lexflow-core/src/lexflow/opcodes/opcodes_http.py
  lexflow-core/src/lexflow/opcodes/opcodes_pydantic_ai.py
  lexflow-core/src/lexflow/opcodes/opcodes_pygame.py
  lexflow-core/src/lexflow/opcodes/opcodes_rag.py
  lexflow-core/src/lexflow/opcodes/opcodes_tasks.py
Due: generate-opcode-docs, generate-grammar-docs

feat(cli): add grammar sync command
  lexflow-cli/src/lexflow_cli/docs.py
  lexflow-cli/src/lexflow_cli/main.py
Due: none

feat(web): use explicit category from API for opcode grouping
  lexflow-web/frontend/src/api/types.ts
  lexflow-web/frontend/src/components/palette/NodePalette/NodePalette.tsx
  lexflow-web/frontend/src/grammar.json
  lexflow-web/src/lexflow_web/api.py
  lexflow-web/src/lexflow_web/static/assets/LiteEditor-BFP7QJM_.js
  lexflow-web/src/lexflow_web/static/assets/index-BUVJ68-b.css
  lexflow-web/src/lexflow_web/static/assets/index-CVA63pwY.js
  lexflow-web/src/lexflow_web/static/assets/index-Dzh5i6hh.js
  lexflow-web/src/lexflow_web/static/assets/index-ML9O8JAn.css
  lexflow-web/src/lexflow_web/static/index.html
Due: none

chore: add CI auto-docs generation and gitignore frontend grammar
  .github/workflows/release.yml
  .gitignore
Due: none

chore(core): release 1.3.0
  lexflow-core/CHANGELOG.md
  lexflow-core/pyproject.toml
Due: none

chore(cli): release 1.2.0
  lexflow-cli/CHANGELOG.md
  lexflow-cli/pyproject.toml
Due: none

chore(web): release 1.7.0
  lexflow-web/CHANGELOG.md
  lexflow-web/pyproject.toml
Due: none

chore(web): remove grammar.json from tracking, copy from core at build time
  lexflow-web/frontend/.gitignore
  lexflow-web/frontend/package.json
  lexflow-web/frontend/src/grammar.json
Due: none

fix(gcs): use asyncio.to_thread for non-blocking I/O operations
  examples/integrations/gcs/gcs_example.yaml
  lexflow-core/src/lexflow/opcodes/opcodes_gcs.py
Due: generate-opcode-docs

feat(core): Add Google Cloud Storage integration
  examples/integrations/gcs/gcs_example.yaml
  lexflow-core/pyproject.toml
  lexflow-core/src/lexflow/grammar.json
  lexflow-core/src/lexflow/opcodes/__init__.py
  lexflow-core/src/lexflow/opcodes/opcodes_gcs.py
  lexflow-core/uv.lock
  lexflow-web/frontend/package-lock.json
Due: generate-opcode-docs, generate-grammar-docs

refactor(gcs): address PR review comments
  examples/integrations/gcs/gcs_example.yaml
  lexflow-core/pyproject.toml
  lexflow-core/src/lexflow/grammar.json
  lexflow-core/src/lexflow/opcodes/opcodes_gcs.py
  lexflow-core/uv.lock
  lexflow-web/src/lexflow_web/static/assets/LiteEditor-u-JXQvTZ.js
  lexflow-web/src/lexflow_web/static/assets/index-BHb2WPRV.js
  lexflow-web/src/lexflow_web/static/index.html
  lexflow-web/uv.lock
Due: generate-opcode-docs, generate-grammar-docs

feat(rag): add GCS ingestion workflow and RAG improvements
  docs/OPCODE_REFERENCE.md
  examples/showcase/rag_pipeline/ingest_gcs.yaml
  lexflow-core/src/lexflow/opcodes/opcodes_gcs.py
  lexflow-core/src/lexflow/opcodes/opcodes_rag.py
Due: generate-opcode-docs

chore(core): release 1.4.0
  lexflow-core/CHANGELOG.md
  lexflow-core/pyproject.toml
Due: none

chore(web): release 1.8.0
  lexflow-web/CHANGELOG.md
  lexflow-web/pyproject.toml
Due: none

feat(core): add Google Cloud Pub/Sub opcodes
  examples/integrations/pubsub/emulator/create_resources.sh
  examples/integrations/pubsub/emulator/publisher.yaml
  examples/integrations/pubsub/emulator/setup.sh
  examples/integrations/pubsub/emulator/streaming_consumer.yaml
  lexflow-core/pyproject.toml
  lexflow-core/src/lexflow/grammar.json
  lexflow-core/src/lexflow/opcodes/__init__.py
  lexflow-core/src/lexflow/opcodes/opcodes_pubsub.py
  pyproject.toml
  uv.lock
Due: generate-opcode-docs, generate-grammar-docs

fix(web): strip pubsub_ and async_ prefixes in node palette display names
  lexflow-web/frontend/src/components/palette/NodePalette/NodePalette.tsx
  lexflow-web/src/lexflow_web/static/assets/LiteEditor-Di9Sivpc.js
  lexflow-web/src/lexflow_web/static/assets/index-C6rT4mHs.js
  lexflow-web/src/lexflow_web/static/index.html
Due: none

feat(sheets): add Google Sheets operations and update dependencies
  docs/OPCODE_REFERENCE.md
  lexflow-core/pyproject.toml
  lexflow-core/src/lexflow/opcodes/__init__.py
  lexflow-core/src/lexflow/opcodes/opcodes_sheets.py
  lexflow-web/uv.lock
Due: generate-opcode-docs

feat(sheets): add examples for appending and reading data from Google Sheets
  examples/integrations/google_sheets/append_row.yaml
  examples/integrations/google_sheets/read_data.yaml
  examples/integrations/google_sheets/sheet_operations.yaml
Due: none

fix(web): add missing gcs category to grammar and node palette
  lexflow-core/src/lexflow/grammar.json
  lexflow-web/frontend/src/components/palette/NodePalette/NodePalette.tsx
  lexflow-web/src/lexflow_web/static/assets/LiteEditor-B7qrZpWE.js
  lexflow-web/src/lexflow_web/static/assets/index-b3xL0S4g.js
  lexflow-web/src/lexflow_web/static/index.html
  pyproject.toml
  uv.lock
Due: generate-opcode-docs, generate-grammar-docs

feat: add competitive analysis hybrid and sanitize API keys
  examples/integrations/competitive_analysis_hybrid.yaml
  examples/integrations/competitive_analysis_mock.yaml
  examples/integrations/competitive_analysis_openrouter.yaml
  run_competitive_analysis.py
  run_competitive_monitor.py
  test_competitive_analysis.py
  test_competitive_analysis_openrouter.py
Due: none

fix: address PR feedback - sanitize year, fix validation, and add assertions
  examples/integrations/competitive_analysis_hybrid.yaml
  examples/integrations/competitive_analysis_mock.yaml
  examples/integrations/competitive_analysis_openrouter.yaml
  run_competitive_analysis.py
  run_competitive_monitor.py
  test_competitive_analysis.py
  test_competitive_analysis_openrouter.py
Due: none

fix: mitigate prompt injection, use env vars for API keys, and fix PR formatting
  examples/integrations/competitive_analysis_hybrid.yaml
  examples/integrations/competitive_analysis_openrouter.yaml
  run_competitive_analysis.py
  run_competitive_monitor.py
  test_competitive_analysis_openrouter.py
Due: none

fix: mitigate indirect prompt injection in formatter stage
  examples/integrations/competitive_analysis_hybrid.yaml
  examples/integrations/competitive_analysis_openrouter.yaml
Due: none

fix(rag): fix RAG pipeline workflows and add BM25 reranking
  examples/showcase/rag_pipeline/ask.yaml
  examples/showcase/rag_pipeline/ingest.yaml
  examples/showcase/rag_pipeline/ingest_gcs.yaml
  examples/showcase/rag_pipeline/search.yaml
  lexflow-core/uv.lock
  pyproject.toml
  uv.lock
Due: none

ci: use deploy key for release workflow to bypass branch protection
  .github/workflows/release.yml
Due: none

feat(web): add detailed interface inputs support (name, type, required)
  examples/basics/detailed_inputs.yaml
  lexflow-web/frontend/src/api/types.ts
  lexflow-web/frontend/src/components/canvas/StartNode/StartNode.tsx
  lexflow-web/frontend/src/components/execution/ExecutionPanel/ExecutionPanel.tsx
  lexflow-web/frontend/src/components/node-editor/StartNodeEditorPanel.tsx
  lexflow-web/frontend/src/components/ui/ExtractWorkflowModal/ExtractWorkflowModal.tsx
  lexflow-web/frontend/src/components/ui/ExtractWorkflowModal/types.ts
  lexflow-web/frontend/src/components/ui/NewWorkflowModal/NewWorkflowModal.tsx
  lexflow-web/frontend/src/components/ui/NewWorkflowModal/types.ts
  lexflow-web/frontend/src/lib/store/createStores.ts
  lexflow-web/frontend/src/services/command/types.ts
  lexflow-web/frontend/src/services/visualization.ts
  lexflow-web/frontend/src/services/workflow/WorkflowService.ts
  lexflow-web/frontend/src/services/workflow/__tests__/WorkflowService.test.ts
  lexflow-web/frontend/src/store/workflowStore.ts
  lexflow-web/frontend/src/utils/workflowUtils.ts
Due: none

fix(ci): use SSH deploy key for semantic-release push instead of GITHUB_TOKEN
  .github/workflows/release.yml
Due: none

feat(web): Trigerring new release updated editor
  examples/showcase/wavy_hello/helpers.yaml
  examples/showcase/wavy_hello/main.yaml
  examples/web/long_running_echo_server.yaml
  lexflow-web/src/lexflow_web/static/assets/LiteEditor-j7XGOS58.js
  lexflow-web/src/lexflow_web/static/assets/index-BHb2WPRV.js
  lexflow-web/src/lexflow_web/static/assets/index-Btt_m2Lv.js
  lexflow-web/src/lexflow_web/static/assets/index-DPaAcr1s.css
  lexflow-web/src/lexflow_web/static/assets/index-ML9O8JAn.css
  lexflow-web/src/lexflow_web/static/index.html
Due: none

chore(web): release 1.9.0
  lexflow-web/CHANGELOG.md
  lexflow-web/pyproject.toml
Due: none

fix(web): add --no-vcs-release to version step, let publish create GitHub release
  .github/workflows/release.yml
Due: none

chore(web): release 1.9.1
  lexflow-web/CHANGELOG.md
  lexflow-web/pyproject.toml
Due: none

feat(core): add long-running deployment docs to agent instructions
  .claude/agents/lexflow-opcode-developer.md
  .claude/agents/lexflow-workflow-writer.md
  pyproject.toml
Due: none

feat(core): PubSub Opcodes(#12)
  .claude/agents/lexflow-opcode-developer.md
  .claude/agents/lexflow-workflow-writer.md
  examples/integrations/pubsub/emulator/create_resources.sh
  examples/integrations/pubsub/emulator/publisher.yaml
  examples/integrations/pubsub/emulator/setup.sh
  examples/integrations/pubsub/emulator/streaming_consumer.yaml
  lexflow-core/pyproject.toml
  lexflow-core/src/lexflow/grammar.json
  lexflow-core/src/lexflow/opcodes/__init__.py
  lexflow-core/src/lexflow/opcodes/opcodes_pubsub.py
  lexflow-web/frontend/src/components/palette/NodePalette/NodePalette.tsx
  pyproject.toml
  uv.lock
Due: generate-opcode-docs, generate-grammar-docs

chore(core): release 1.5.0
  lexflow-core/CHANGELOG.md
  lexflow-core/pyproject.toml
Due: none

chore(web): release 1.10.0
  lexflow-web/CHANGELOG.md
  lexflow-web/pyproject.toml
Due: none

feat(core): add HubSpot CRM integration opcodes
  docs/OPCODE_REFERENCE.md
  examples/integrations/hubspot/calculate_lead_score.yaml
  examples/integrations/hubspot/create_contact_with_company.yaml
  examples/integrations/hubspot/search_and_update_contact.yaml
  examples/integrations/hubspot/test_connection.yaml
  lexflow-core/src/lexflow/opcodes/__init__.py
  lexflow-core/src/lexflow/opcodes/opcodes_hubspot.py
  pyproject.toml
  uv.lock
Due: generate-opcode-docs

fix: gemini suggestions security
  docs/OPCODE_REFERENCE.md
  examples/integrations/hubspot/create_contact_with_company.yaml
  lexflow-core/src/lexflow/opcodes/opcodes_hubspot.py
Due: generate-opcode-docs

feast: create opcodes to connect to slack apps and workspaces
  examples/integrations/slack/test_slack_simple.yaml
  lexflow-core/pyproject.toml
  lexflow-core/src/lexflow/opcodes/__init__.py
  lexflow-core/src/lexflow/opcodes/opcodes_slack.py
Due: generate-opcode-docs
